server:
  port: 8090

spring:
  datasource:
    url: jdbc:mysql://localhost/small_square
    username: root
    password: 123456

  jpa:
    hibernate:
      ddl-auto: update


appDescription: "Reto plazoletas ms plazoleta"
appVersion: "1.0.0"
